<script>
import {
  userService,
} from '@/services'

export default {
  name: 'LoginForm',
  data: () => ({
    loading: false,
  }),
  methods: {
    async submitLoginReq(event) {
      this.loading = true
      event.preventDefault()
      const data = new FormData(event.target)
      try {
        await userService.loginWithUsernameAndPassword(data.get('email'), data.get('senha'))
        this.$router.goHome()
      } catch (error) {
        this.$ui.showAlert('Usuário ou senha incorretos.', 'error')
      }
      this.loading = false
    },
  },
}
</script>

<template>
  <v-card
    max-width="340"
    width="340"
    class="card-shadow"
  >
  <v-card-title class="d-block">
    <p class="text-center">Teste Conexa App</p>
  </v-card-title>
  <v-card-text>
    <form @submit="submitLoginReq">
      <b-input
        label="Email"
        name="email"
        autofocus
        clearable
        required
      />
      <b-input
        label="Senha"
        name="senha"
        type="password"
        clearable
        required
      />
      <div class="text-right">
        <b-button
          color="primary"
          type="submit"
          :loading="loading"
        >
          Login
          <v-icon right>
            mdi-chevron-right
          </v-icon>
        </b-button>
      </div>
    </form>
  </v-card-text>
  </v-card>
</template>
