<script>
export default {
  name: 'DataConsultations',
  props: {
    consultations: {
      type: Array,
      default: () => ([]),
    },
  },
  methods: {
    openConsult(idConsult) {
      this.$emit('click-watch', idConsult)
    },
  },
}
</script>

<template>
  <div>
    <b-data
      v-for="(consult, i) in consultations"
      :key="`${i}-consult-data`"
      class="mb-4"
    >
      <template #data>
        <div class="mb-3">{{ consult.paciente }}</div>
        <div class="mr-3 caption">
          <v-icon>mdi-calendar-clock</v-icon>
          {{ consult.dataConsulta }}
        </div>
      </template>
      <template #actions>
        <b-button
          color="stronger"
          text
          @click="() => openConsult(consult.id)"
        >
          Detalhar
        </b-button>
      </template>
    </b-data>
  </div>
</template>
