<script>
export default {
  name: 'DialogConsult',
  props: {
    consult: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>

<template>
  <v-card>
    <v-card-title>
      {{ consult.paciente }}
    </v-card-title>
    <v-card-text>
      <v-row no-gutters>
        <v-col class="px-0">
          <v-chip
            color="secondary"
          >
            <v-avatar left>
              <v-icon>mdi-calendar-clock</v-icon>
            </v-avatar>
            {{ consult.dataConsulta }}
          </v-chip>
        </v-col>
      </v-row>
      <v-col class="px-0">
        <v-card
          elevation="0"
          color="grey lighten-4"
        >
          <v-card-title>Observação</v-card-title>
          <v-card-text>
            {{ consult.observacao }}
          </v-card-text>
        </v-card>
      </v-col>
      <div class="grey lighten-4 px-4 py-4 mb-3">
        <p class="title">Médico</p>
        <p>
          {{ consult.medico.nome }}
        </p>
      </div>
      <div class="text-center">
        <b-button
          @click="$ui.closeDialog"
          color="primary"
          dark
        >
          Fechar
        </b-button>
      </div>
    </v-card-text>
  </v-card>
</template>
