<script>
import {
  consultationsService,
} from '@/services'

import {
  getFormFields,
} from '@/utils/functions'

export default {
  name: 'DialogConsult',
  props: {
    hookSuccess: {
      type: Function,
      default: () => ({}),
    },
  },
  methods: {
    async saveConsult(event) {
      event.preventDefault()
      const data = getFormFields(event.target)
      try {
        await consultationsService.addConsult(data)
        this.$ui.showAlert('Consulta salva com sucesso!')
        this.hookSuccess()
      } catch (error) {
        this.$ui.showAlert('Parece haver um erro nessa requisição', 'error')
      }
      this.$ui.closeDialog()
    },
  },
}
</script>

<template>
  <v-card>
    <v-card-title
      class="grey--text"
    >
      <span class="title">Nova Consulta</span>
    </v-card-title>
    <v-card-text>
      <form @submit="saveConsult">
        <input
          type="hidden"
          value="1"
          name="idMedico"
        />
        <b-input
          label="Nome do Paciente"
          autofocus
          name="paciente"
        />
        <b-input
          label="Data da Consulta"
          type="datetime-local"
          name="dataConsulta"
        />
        <b-input
          label="Observação"
          name="observacao"
        />
        <div class="d-block text-right">
          <b-button
            class="mr-2"
            color="white"
            @click="$ui.closeDialog"
          >
            Cancelar
            <v-icon>mdi-check</v-icon>
          </b-button>
          <b-button
            color="primary"
            type="submit"
          >
            Salvar
          </b-button>
        </div>
      </form>
    </v-card-text>
  </v-card>
</template>
