<script>
import {
  DialogConsult,
  DialogConsultForm,
  DataConsultations,
} from '@/components/app/consultations'
import {
  consultationsService,
} from '@/services'

export default {
  name: 'Consultants',
  components: {
    DataConsultations,
  },
  data: () => ({
    consultations: [],
  }),
  methods: {
    async openConsult(id) {
      const consult = await consultationsService.getConsult(id)
      this.$ui.showDialog(DialogConsult, { consult }, { persistent: true })
    },
    openNewConsultDialog() {
      this.$ui.showDialog(DialogConsultForm, {
        hookSuccess: this.getAllConsultations,
      }, { persistent: true })
    },
    async getAllConsultations() {
      try {
        this.consultations = await consultationsService.getAllConsultations()
      } catch (error) {
        this.$ui.showAlert('Impossível carregar consultas do sistema.')
      }
    },
  },
  mounted() {
    this.getAllConsultations()
  },
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <b-button
          color="primary"
          @click="() => openNewConsultDialog()"
        >
          Nova Consulta
          <v-icon right>mdi-plus</v-icon>
        </b-button>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <data-consultations
          @click-watch="openConsult"
          :consultations="consultations"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
