<script>
import LoginForm from '@/components/app/login/LoginForm'
import LoginFigure from '@/components/ui/figures/LoginFigure'

export default {
  name: 'LoginPage',
  components: {
    LoginForm,
    LoginFigure,
  },
}
</script>

<template>
  <v-main>
    <v-container
      fluid
      class="fill-height"
    >
      <v-row
        justify="center"
        style="position:relative"
      >
        <LoginFigure
          id="loginFigure"
          style="height:100vh;"
        />
        <v-col
          cols="auto"
        >
          <LoginForm />
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<style scoped>
#loginFigure {
  position: absolute;
  bottom: -300px;
}
</style>
