<script>
import { mapGetters } from 'vuex';
import {
  MenuTopBar,
} from '@/components/ui'

export default {
  name: 'Panel',
  components: {
    MenuTopBar,
  },
  computed: {
    ...mapGetters(['getUserDetails']),
  },
}
</script>

<template>
  <div class="fill-height background-app">
    <menu-top-bar
      :usuario-nome="getUserDetails.nome"
      :usuario-id="getUserDetails.nome"
    />
    <v-main class="fill-height">
      <router-view />
    </v-main>
  </div>
</template>
