<template>
  <v-app>
    <b-alert />
    <b-dialog />
    <router-view />
  </v-app>
</template>

<script>
import { BAlert, BDialog } from '@/components/ui'

export default {
  name: 'App',
  components: {
    BAlert,
    BDialog,
  },
};
</script>
