<template>
  <v-row
    no-gutters
    align="center"
    class="base-data"
    justify="space-between"
  >
    <v-col>
      <slot name="data" />
    </v-col>
    <v-col cols="auto">
      <slot name="actions" />
    </v-col>
  </v-row>
</template>

<style scoped>
.base-data {
  border: 1px solid #03A696;
  border-radius: 25px;
  box-shadow: 4px 0px 10px rgba(75,102,171,0.2) !important;
  padding: 1em 1.5em;
  transition: all 500ms ease;
  cursor: pointer;
}
.base-data:hover {
  transform: translateY(-5px);
}
</style>
