<script>
import { routes } from '@/router'

export default {
  name: 'MenuSideBar',
  props: {
    value: Boolean,
  },
  computed: {
    anchors() {
      return routes.children.reduce((acum, route) => {
        if (route.meta.notShow) {
          return acum;
        }

        const anchor = { ...route };

        if (!anchor.meta) {
          anchor.meta = {};
        }

        if (!anchor.meta.icon) {
          anchor.meta.icon = 'mdi-alert-circle-outline';
        }

        anchor.path = `${routes.path}/${anchor.path}`
        return [...acum, anchor];
      }, [])
    },
  },
}
</script>

<template>
  <v-navigation-drawer
    app
    floating
    :width="210"
    v-model="value"
    id="sidebar-app"
  >
    <v-list-item style="min-height:60px;">
      <v-list-item-content>
        <v-layout align-center>
          <v-flex class="text-center">
            <h3 class="white--text title">
              Conexa <span class="subtitle-1">- APP</span>
            </h3>
          </v-flex>
        </v-layout>
      </v-list-item-content>
    </v-list-item>
    <v-list
      dense
    >
      <v-list-item
        v-for="router in anchors"
        :key="router.name || router.meta.label"
        link
        exact
        class="side-link no-hovered mb-2 text-capitalize"
        style="letter-spacing:0.07rem;"
        active-class="side-link-active"
        :to="router.path"
      >
        <v-list-item-icon>
          <v-icon
            v-text="router.meta.icon"
          />
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ router.meta.label || router.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style>
#sidebar-app {
  /* background: linear-gradient(180deg,#038C8C,#035AA6); */
  /* background-color: #1e243b; */
}
.side-link .v-list-item__icon svg,
.side-link .v-list-item__icon i,
.side-link .v-list-item__content .v-list-item__title {
  color: rgb(235, 238, 240);
}

.side-link:hover .v-list-item__icon svg,
.side-link:hover .v-list-item__icon i,
.side-link:hover .v-list-item__content .v-list-item__title {
  color: rgb(248, 248, 248) !important;
}

.side-link-active > .v-list-item__icon > svg,
.side-link-active > .v-list-item__icon > i,
.side-link-active > .v-list-item__content > .v-list-item__title {
  color: rgb(250, 250, 250) !important;
}

a.side-link-active {
  background-color: #03A696 !important;
}
</style>
