<script>
export default {
  name: 'MenuTopBar',
  props: {
    usuarioNome: {
      type: String,
      required: true,
    },
    usuarioId: {
      type: String,
      required: true,
    },
  },
  methods: {
    closeSidebarEvent() {
      this.$emit('toggle-sidebar');
    },
  },
};
</script>

<template>
  <v-app-bar
    app
    elevate-on-scroll
    color="teal lighten-4"
  >
  <img src="@/assets/logo-conexa-header.png" alt="">
    <v-spacer />

    <v-toolbar-items>
      <v-btn
        class="no-hovered"
        icon
        :ripple="false"
        v-show="false"
      >
        <v-icon>mdi-bell-outline</v-icon>
      </v-btn>
      <v-menu
        offset-y
        transition="slide-y-transition"
        bottom
        left
        class="elevation-0"
      >
        <template v-slot:activator="{on}">
          <v-btn
            class="no-hovered body-2 text-capitalize"
            v-on="on"
            text
            :ripple="false"
            v-text="`Olá, ${usuarioNome}`"
          />
        </template>
        <v-list elevation-0>
          <v-list-item
            to="/logout"
          >
            <v-list-item-icon class="mr-2">
              <v-icon>mdi-account-arrow-right-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-app-bar>
</template>
